.response {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    font-size: 14px;
}

.embeds {
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.p-like-of .u-url:before {
         content: '\f221';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }

.p-favorite-of .u-url:before {
         content: '\f408';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }


.p-in-reply-to .u-url:before {
         content: '\f412';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }

.p-bookmark-of .u-url:before, a.empty:before {
         content: '\f107';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }

.p-repost-of .u-url:before {
         content: '\f420';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }

.kind-rsvp .response.u-url:before {
         content: '\f305';
         padding:        0 5px;
         font-family:    'Genericons';
         vertical-align: middle;
         -webkit-font-smoothing: antialiased;
        }

.response img {
	height: 100px;	
	width: auto;
	vertical-align: middle;
	text-align: right;
	}
