.kind-like .verb:before,
.kind-like label:before {
         content: '\f221';
        }

.kind-favorite .verb:before,
.kind-favorite label:before {
         content: '\f408';
        }


.kind-reply .verb:before,
.kind-reply label:before {
         content: '\f412';
        }

.kind-bookmark .verb:before,
.kind-bookmark label:before,
 a.empty:before {
         content: '\f107';
        }

.kind-repost .verb:before,
.kind-repost label:before {
         content: '\f420';
        }

.kind-rsvp .verb:before,
.kind-rsvp label:before {
         content: '\f305';
        }

.kind-listen .verb:before,
.kind-listen label:before {
         content: '\f109';
        }

.kind-watch .verb:before,
.kind-watch label:before {
         content: '\f517';
        }

.kind-article .verb:before,
.kind-article label:before {
         content: '\f100';
        }

.kind-checkin .verb:before,
.kind-checkin label:before {
         content: '\f417';
        }

.kind-photo .verb:before,
.kind-photo label:before {
         content: '\f102';
        }

.kind-play .verb:before,
.kind-play label:before {
         content: '\f461';
        }

.kind-tag .verb:before,
.kind-tag label:before {
         content: '\f302';
        }

.kind-note .verb:before,
.kind-note label:before {
         content: '\f411';
        }

.kind-wish .verb:before,
.kind-wish label:before {
         content: '\f447';
        }

