#kind-all {
	.svg-icon {
		fill: currentColor;
		padding-left: 2px;
		padding-right: 2px;
		width: 24px;
		height: 24px;
		vertical-align: middle;
		top: -0.0625em;
		color: grey
	}
}

#kind-menu, #kind-posts {
	.svg-icon {
		fill: currentColor;
		padding-left: 2px;
		padding-right: 2px;
		width: 32px;
		height: 32px;
		vertical-align: middle;
		top: -0.0625em;
		color: black
	}
	ul {
		list-style-type: none;
	}
}

.response {
        .svg-icon {
                fill: currentColor;
                padding-left: 2px;
                padding-right: 2px;
                width: 32px;
                height: 32px;
                vertical-align: middle;
                top: -0.0625em;
                color: black
        }
}


