.svg-icon svg {
	fill: currentColor;
	padding: 2px;
	vertical-align: middle;
	top: -0.0625em;
}

#kind-all {
	svg {
		width: 1rem;
		height: 1rem;
		color: grey
	}
}

#kind-menu, #kind-posts {
	svg {
		width: 1.5rem;
		height: 1.5rem;
		color: black
	}
	ul {
		list-style-type: none;
	}
}

.response {
        svg {
                width: 2rem;
                height: 2rem;
                color: black
        }
}


