.svg-icon svg {
	fill: currentColor;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
	top: -0.0625em;
}

#kind-all {
	svg {
		width: 16px;
		height: 16px;
		color: grey
	}
}

#kind-menu, #kind-posts {
	svg {
		width: 24px;
		height: 24px;
		color: black
	}
	ul {
		list-style-type: none;
	}
}

.response {
        svg {
                width: 32px;
                height: 32px;
                color: black
        }
}


