name: Plugin asset/readme update
on:
  push:
    branches:
    - trunk
jobs:
  master:
    name: Push to trunk
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@trunk
    - name: WordPress.org plugin asset/readme update
      uses: 10up/action-wordpress-plugin-asset-update@trunk
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
